{:hooks {:analyze-call {dompa.nodes/$ hooks.dompa/$
                        dompa.nodes.shared/defhtml hooks.dompa/defhtml}}
 :linters {:dompa.nodes/$-arg-validation {:level :warning}
           :dompa.nodes.shared/defhtml-arg-validation {:level :warning}}
 :lint-as {dompa.nodes.shared/defhtml clojure.core/defn}}
